.status_bar {
  color: #000;
  display: flex;
  font-size: 17px;
  font-weight: 700;
  justify-content: space-between;
  left: 27px;
  position: absolute;
  top: 18px;
  width: 340px;
  font-weight: bold;
}

span {
  display: flex;
  gap: 7px;
}
